.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #271b3b;
}
.todoContainer {
  width: 50%;
  padding: 30px;
  background-color: #fffade;
  border-radius: 5px;
}
.title {
  margin-bottom: 30px;
  text-align: center;
  color: #271b3b;
}
